// Navigation code here
.main-navigation {
  width: 100%;
  height: 90px;
  background: @nav-bg;
  position: fixed;
}

.nav-container {
  height: 100%;
  align-items: center;
}

.nav {
  width: auto;
  align-items: center;
  justify-content: space-between;

}

.Logo-center {
  margin-left: 32%;
  font-size: 4rem;
  padding-top: 7px;
  padding-bottom: 16px;
}

a {
  margin-left: 10.2%;
  font-size: 1.8rem;
  color: @header-font-color;
  text-decoration: none;
}
